<table mat-table [dataSource]="licenses" class="mat-elevation-z8">

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.License.Name}} </td>
  </ng-container>

  <ng-container matColumnDef="GitUrl">
    <th mat-header-cell *matHeaderCellDef> Git URL </th>
    <td mat-cell *matCellDef="let element"> {{element.License.GitUrl}} </td>
  </ng-container>

  <ng-container matColumnDef="Generate">
    <th mat-header-cell *matHeaderCellDef> Generate Access Token </th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button *ngIf="element.License.Gitlab" color="primary" (click)="accessToken(element)">Generate Token</button><p *ngIf="!element.License.Gitlab">Please wait</p></td>
  </ng-container>

  <ng-container matColumnDef="AccessToken">
    <th mat-header-cell *matHeaderCellDef> Token </th>
    <td mat-cell *matCellDef="let element">
      {{element.AccessToken}}
      <button *ngIf="element.AccessToken != ''" mat-icon-button aria-label="Copy Token" (click)="copy(element.AccessToken)">
        <mat-icon>content_copy</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
